In [1]:
#Implementation of Assignment-1 assigned

In [2]:
#Q-1 Create a pandas dataframe with numpy random values
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(4,4),columns=['col1','col2','col3','col4'])
df

       col1      col2      col3      col4
0  0.847165  0.169621  0.300486  0.814717
1  0.279439  0.495012  0.593120  0.224066
2  0.826255  0.092002  0.828948  0.664088
3  0.071952  0.765451  0.312402  0.911744

In [3]:
#Q-2 Renaming df column names to Random value1....
df = df.rename(columns={'col1':'Random value 1',
                  'col2':'Random value 2',
                  'col3':'Random value 3',
                  'col4':'Random value 4'})

df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.847165        0.169621        0.300486        0.814717
1        0.279439        0.495012        0.593120        0.224066
2        0.826255        0.092002        0.828948        0.664088
3        0.071952        0.765451        0.312402        0.911744

In [4]:
#Q-3 Descriptive statistics of the 'df' DataFrame
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.506203        0.380522        0.508739        0.653654
std          0.391018        0.310377        0.252700        0.303977
min          0.071952        0.092002        0.300486        0.224066
25%          0.227568        0.150216        0.309423        0.554082
50%          0.552847        0.332317        0.452761        0.739402
75%          0.831483        0.562622        0.652077        0.838974
max          0.847165        0.765451        0.828948        0.911744

In [5]:
#Q-4check for null values in df and find the datatype of columns
print(df.isnull().any())
print(" ")
print("Data type of columns: ")
print(" ")
print(df.dtypes)

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

Data type of columns:

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
#Q-5 Displaying 'Random value 2 ' & 'Random value 3' columns with location method and index location method
print("Displaying 'Random value 2 ' & 'Random value 3' columns with location method: ")
print(df.loc[:,'Random value 1 ':'Random value 3 '])
print(" ")
print("Displaying 'Random value 2 ' & 'Random value 3' columns with Index location method:")
print(df.iloc[:,1:3])

Displaying 'Random value 2 ' & 'Random value 3' columns with location method:
   Random value 2  Random value 3
0        0.169621        0.300486
1        0.495012        0.593120
2        0.092002        0.828948
3        0.765451        0.312402

Displaying 'Random value 2 ' & 'Random value 3' columns with Index location method:
   Random value 2  Random value 3
0        0.169621        0.300486
1        0.495012        0.593120
2        0.092002        0.828948
3        0.765451        0.312402